{% extends "base/base.html" %}

{% block content %}
<div class="wrapper-login">
    <div class="container">
        <div class="row">
            <div class="error404 span12">
                <h1>Reset</h1>
            </div>

            <div class="span12 box-wrapper">
                <div class="widget">
                    <div class="wrapper-search form-error404">
                        <h3  class="title">{{ message }}</h3>
                        <form method="POST" action="" class="password_reset">
                            {% csrf_token %}
                            {{ password_reset_form.as_p }}
                            <input type="submit" value="Reset My Password" />
                        </form>
                        <p>Please contact us if you have any trouble resetting your password.</p>

                    </div>
                </div>

            </div>
        <div>
    </div>
</div>
</div>

{% endblock %}