{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}error404{% endblock %}

{% block content %}

    <div class="content">
        <!-- ERROR404 -->
        <div class="section" id="error404">

            <h1>What in the name of our holly shurikens were you trying to find here?!</h1>

            <p>What you are looking for, for sure, it's not here.</p>
            <p>If you think it should then report it to us here: <a href="mailto:server@ninja-ide.org">server at ninja-ide.org</a>.</p>
        </div>

    </div>
{% endblock%}
