{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}error500{% endblock %}

{% block content %}

    <div class="content">
        <!-- ERROR500 -->
        <div class="section" id="error500">

            <h1>Oops. We are ninjas, not the damn lords of matrix.</h1>

            <p>Ok. Something went wrong. This page is evolutioning every day, so it's common that something gets broken in the process.</p>
            <p>If you have the time to report to us what were you doing until you reach this page, do it to <a href="mailto:server@ninja-ide.org">server at ninja-ide.org</a>.</p>
        </div>

    </div>
{% endblock%}
