{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}about{% endblock %}

{% block content %}
    <div class="content">
      <!-- ABOUT NINJA -->
      <div class="section" id="about-ninja">
        <h1 class="ninja">About Ninja-IDE</h1>
        <h2>Why are we doing NINJA-IDE?</h2>
        <p><b>NINJA-IDE</b> started as a project focused at providing an IDE specially designed for Python Applications Development,
        with this scope in mind, we put our ninja-skills into the development of a <b>free</b> and <b>open source</b> project which grows
        based on the community's necessities.</p>
        <p>Basically we want to explore and find new features that would improve the performance of any Python Developer,
        always maintaining <b>NINJA-IDE</b> fast and lightweight for anyone to use it, and compete with the current commercial IDEs out
        there, and when we say "compete" we mean: to demonstrate that you can have a beautiful application with the most popular
        features, plus the ones that the ninja-team researches and implements, without the need to pay for any license or use a
        product where you can't play with the source.</p>

        <h2>How it was born</h2>
        <p>Buy a beer/coffee to any (or the whole bunch of!) us and we'll be glad to tell the story :)</p>
        <p>And if you don't wanna hear it, assure yourself of we keeping the secret by donating 10 million dollars.</p>
      </div>

      <!-- ABOUT US -->
      <div class="section left big-width" id="aboutus">
        <h1>About us</h1>
        <h2>This is the ninja team that worked in Ninja IDE.</h2>
        <p class="framed">Don't judge them by their faces, always remember they can beat you up with a 256mb pendrive if they want to.</p>

        {% include "ninja_members.html" %}
      </div><!-- /#aboutus -->

      <div class="section right small-width">
        <h1>Chat with us!</h1>
        <p>You can join the NINJA-IDE IRC channel at Freenode (<a href="http://webchat.freenode.net?nick=Ninja.&channels=ninja-ide&uio=OT10cnVlJjExPTIzNg6b">#ninja-ide</a>), in order to ask questions, participate in the development's debates, or just talk with another ninjas.</p>
      </div>

      <div class="section right small-width">
        <h1>More Ninjas</h1>
        <p>Ninja-IDE couldn't be kicking asses without the help of this amazing ninjas.</p>

        <!--h2>Packagers</h2-->
        <ul class="ninja-people" id="packagers">
          <li>
            <!--img src="" /-->
            <h3>Juan Carlos Ojeda</h3>
            <p>Ubuntu/Debian Packager.</p>
          </li>
          <li>
            <!--img src="" /-->
            <h3>Angel Velasquez</h3>
            <p>Arch Packager.</p>
          </li>
          <li>
            <!--img src="" /-->
            <h3>Juan Manuel Garcia</h3>
            <p>Windows Packager.</p>
          </li>
          <li>
            <!--img src="" /-->
            <h3>Ezequiel Cardinali</h3>
            <p>Fedora Packager.</p>
          </li>
        </ul>
      </div>

      <!-- LICENSE -->
      <div class="section" id="license_section">
      <h1 class="license">License</h1>
      <h2>Let's get serious for 10 seconds.</h2>
      <table class>
        <tr>
          <td><img src="{{ MEDIA_URL }}/img/gplv3-logo.png" alt="GPLv3 logo" /></td>
          <td>Ninja IDE is GPLv3. Yeap, that's right: Ninja IDE is free software.</td>
        </tr>
        <tr>
          <td><img src="{{ MEDIA_URL }}/img/fatcow-logo.png" alt="FatCow logo" />
          <td>All the icons used in the site are from the excellent <a href="http://www.fatcow.com/free-icons">FatCow Web Hosting free icons library</a>.</td>
        <tr>
      </table>
      <p>Ok, that last 10 seconds were really serious. Why don't you put some music on to listen while you click on the donate button down here in the footer.</p>
      </div><!-- /license -->

    </div><!-- /.content -->
{% endblock%}
