{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}about{% endblock %}

{% block content %}
    <div class="content">
      <!-- ABOUT NINJA -->
      <div class="section" id="about-ninja">
        <h1 class="ninja">About Ninja-IDE</h1>
        <h2>How it was borned</h2>
        <p>Buy a beer/coffee to any (or the whole bunch of!) us and we'll be glad to tell the story :)</p>
        <p>And if you don't wanna hear it, assure yourself of we keeping the secret by donating 10 million dollars.</p>
      </div>

      <!-- ABOUT US -->
      <div class="section left big-width" id="aboutus">
        <h1>About us</h1>
        <h2>This is the ninja team that worked in Ninja IDE.</h2>
        <p class="framed">Don't judge them by their faces, always remember they can beat you up with a 256mb pendrive if they want to.</p>

        <ul id="ninja_members">
          <li>
            <img src="../media/img/ninja_members/dl.sarmentero.png" alt="Diego Sarmentero" />
            <h2>Diego Sarmentero</h2>
            <p>Software Freedom Lover, enjoy programming in several languages, and share all the things I've learn with the community. Qt Ambassador since 2011, Computer Geek by nature... Human Being??.</p>
            <div class="contact-info">
              <a class="mail" href="mailto:diego.sarmentero@ninja-ide.org">diego.sarmentero@ninja-ide.org</a>
            </div>
          </li>
          <li>
            <img src="../media/img/ninja_members/malderete.png" alt="Martín Alderete" />
            <h2>Martín Alderete</h2>
            <p>Software developer, open source software fan. I really like to programming in different languages. I met Python in 2005 and I felt in love, since then it is my main language. I also like practicing martial arts and sports.</p>
            <div class="contact-info">
              <a class="mail" href="mailto:malderete@ninja-ide.org">malderete@ninja-ide.org</a>
            </div>
          </li>
          <li>
            <img src="../media/img/ninja_members/m.herranz.png" alt="Matías Herranz" />
            <h2>Matías Herranz</h2>
            <p>Computer Science student, Django/Python, Python and mobile apps(iPhone, Android) Software developer. I like guitar playing, bonsais, hanging around with friends and travelling.</p>
            <div class="contact-info">
              <a class="mail" href="mailto:matias@ninja-ide.org">matias@ninja-ide.org</a>
            </div>
          </li>
          <li>
            <img src="../media/img/ninja_members/emi-ninja.png" alt="Emilio Ramirez" />
            <h2>Emilio Ramirez</h2>
            <p>Systems Engineering student, activist and free software user, software developer and fan of Python. Personally, I like going to movies, hang out to drink wine and everything else ... 42.</p>
            <div class="contact-info">
              <a class="mail" href="mailto:emilioramirez@ninja-ide.org">emilioramirez@ninja-ide.org</a>
            </div>
          </li>
          <li>
            <img src="../media/img/ninja_members/2.png" alt="Jose Cortes" />
            <h2>Jose Cortes</h2>
            <p>Segmentation Fault.</p>
            <div class="contact-info">
              <a class="mail" href="mailto:josecortes@ninja-ide.org">josecortes@ninja-ide.org</a>
            </div>
          </li>
          <li>
            <img src="../media/img/ninja_members/pmourelle.png" alt="Pedro Mourelle" />
            <h2>Pedro Mourelle (Designer)</h2>
            <p>Running his own empire at <a href="http://pmdesign.com.ar" target="_blank">PmDesign</a>. A tough Computer Analist that discovered the dark arts of design weapons. His alchemy assembles design and django in ways you could not even imagine. You better watch out.</p>
            <div class="contact-info">
              <a class="mail" href="pedro@ninja-ide.org">pedro@ninja-ide.org</a>
            </div>
          </li>
        </ul>
      </div><!-- /#aboutus -->

      <div class="section right small-width">
        <h1>Chat with us!</h1>
        <p>You can join the NINJA-IDE IRC channel at Freenode (<a href="http://webchat.freenode.net?nick=Ninja.&channels=ninja-ide&uio=OT10cnVlJjExPTIzNg6b">#ninja-ide</a>), in order to ask questions, participate in the development's debates, or just talk with another ninjas.</p>
      </div>

      <div class="section right small-width">
        <h1>More Ninjas</h1>
        <p>Ninja-IDE couldn't be kicking asses without the help of this amazing ninjas.</p>

        <!--h2>Packagers</h2-->
        <ul class="ninja-people" id="packagers">
          <li>
            <!--img src="" /-->
            <h3>Juan Carlos Ojeda</h3>
            <p>Ubuntu/Debian Packager.</p>
          </li>
          <li>
            <!--img src="" /-->
            <h3>Angel Velasquez</h3>
            <p>Arch Packager.</p>
          </li>
          <li>
            <!--img src="" /-->
            <h3>Juan Manuel Garcia</h3>
            <p>Windows Packager.</p>
          </li>
          <li>
            <!--img src="" /-->
            <h3>Ezequiel Cardinali</h3>
            <p>Fedora Packager.</p>
          </li>
        </ul>
      </div>

      <!-- LICENSE -->
      <div class="section" id="about-ninja">
        <h1 class="license">License</h1>
        <h2>Let's get serious for 10 seconds.</h2>
        <p><img src="{{ MEDIA_URL }}/img/gplv3-logo.png" alt="GPLv3 logo" />Ninja IDE is GPLv3. Yeap, that's right: Ninja IDE is free software.</p>
        <p><img src="{{ MEDIA_URL }}/img/fatcow-logo.png" alt="FatCow logo" />All the icons used in the site are from the excellent <a href="http://www.fatcow.com/free-icons">FatCow Web Hosting free icons library</a>.</p>
      </div>

    </div><!-- /.content -->
{% endblock%}
