{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <style type="text/css"> </style>
    <script type="text/javascript"> </script>
    <title> {% block title %} PeopleManager {% endblock %} </title>
  </head>
  <body>
      {% block sidebar %} {% endblock %}
      {% block content %} {% endblock %}
  </body>
</html>
