{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}contrib{% endblock %}

{% block content %}
    <div class="content">
        <!-- CONTRIB -->
        <div class="section big-width left" id="contrib">
            <h1>Contrib</h1>
            <div class="sub-section-contrib">
                <h2>Guide to Helping With NINJA-IDEs</h2>
                <p>As with any open source project, there are several ways you can help:</p>
                <ul>
                    <li>
                        Join the <a href="http://groups.google.com/group/ninja-ide/topics">mailing list</a>
                        and answer other user's questions.
                    </li>
                    <li>
                        Report bugs, feature requests and other issues in the
                        <a href="http://code.google.com/p/ninja-ide/issues/list">issue tracking</a> system.
                    </li>
                    <li>Submit patches to reported issues (both those you find, or that others have filed)</li>
                    <li>
                        Help with the documentation by pointing out areas that are lacking or unclear, and if you are
                        so inclined, submitting patches to correct it. You can quickly contribute rough thoughts to the
                        <a href="http://code.google.com/p/ninja-ide/w/list">wiki</a>,
                        or you can volunteer to help collate and organize information that is already there.
                    </li>
                </ul>
                <p><b>Your participation in the community is much appreciated!</b></p>
            </div>
            <div class="sub-section-contrib">
                <h2>Areas you can contribute</h2>
                <p>Whether you're a programmer or not, you can contribute in many areas with NINJA IDE:</p>
                <ul>
                    <li>You can <a href="http://code.google.com/p/ninja-ide/wiki/Translate_Ninja_IDE">translate</a> the application into your language.</li>
                    <li>You can make a <a href="/plugins/">plugin</a> with some functionality that comes to mind.</li>
                    <li>You can <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8TESZPNRD59H6">donate</a> money to the project.</li>
                    <li>You can make a package for your platform (GNU / Linux, Windows, MacOS).</li>
                </ul>
            </div>
            <div class="sub-section-contrib">
                <h2>Why Would I Want to Help?</h2>
                <p>There are several reasons, these are some of them:</p>
                <ul>
                    <li>By answering other people's questions, you can learn more for yourself.</li>
                    <li>By submitting your own fixes, they get incorporated faster.</li>
                    <li>By reporting issues, you ensure that bugs don't get missed, or forgotten.</li>
                    <li>You are giving back to a community that has given you software for free.</li>
                </ul>
            </div>
        </div><!-- /#CONTRIB -->

        <div class="section right small-width">
            <h1>You can join us</h1>
            <p>You can submit patches or new features in order to be invited to join the project as a committer.</p>
        </div>

        <div class="section right small-width">
            <h1>Donate</h1>
            <p>You can help in the project with a donation. If your name is Tony Stark or Bruce Wayne then considere donating a few thousands, if not then a few bucks will be really apretiated!
            </p>
            <a class="link-web" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=8TESZPNRD59H6">Make a donation</a>
        </div>
    </div><!-- /content -->
{% endblock%}
