{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}downloads{% endblock %}

{% block content %}
<div class="content">
  <!-- DOWNLOADS -->
    <h1>Downloads</h1>

    <div class="section left big-width" id="downloads">

      <h1>Grab the version for you</h1>

      <h2 class="linux_downloads" id="linux_downloads">Linux</h2>
      <table>
        <tr>
          <td>Ubuntu / Debian</td>
          <td><a href="https://github.com/downloads/ninja-ide/ninja-ide/ninja-ide_2.0-beta3_all.deb">Ninja IDE v2.0-Beta3</a>
          <td><a href="https://github.com/downloads/ninja-ide/ninja-ide/ninja-ide_2.0-beta3_all.deb">Download</a>
              / <a href="http://ubuntuone.com/5HB9maQzy038JCznJqq6MI">Mirror</a></td>
        </tr>
        <tr>
          <td>Fedora</td>
          <td><a href="https://github.com/downloads/ninja-ide/ninja-ide/ninja-ide-2.0_beta3-2.noarch.rpm">Ninja IDE v2.0-Beta3</a>
          <td><a href="https://github.com/downloads/ninja-ide/ninja-ide/ninja-ide-2.0_beta3-2.noarch.rpm">Download</a>
              / <a href="http://ubuntuone.com/27ymBLRJfmITxfvB4HXqF3">Mirror</a></td>
        </tr>
        <tr>
          <td>Arch</td>
          <td><a href="https://github.com/downloads/ninja-ide/ninja-ide/ninja-ide-beta-2.0-3-any.pkg.tar.xz">Ninja IDE v2.0-Beta3</a></td>
          <td><a href="https://github.com/downloads/ninja-ide/ninja-ide/ninja-ide-beta-2.0-3-any.pkg.tar.xz">Download</a>
              / <a href="http://ubuntuone.com/0nzyalhZkB41BPEDIwu7zF">Mirror</a></td>
        </tr>
        <tr>
          <td>Ubuntu / Debian</td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja-ide_1.1_all.deb">Ninja IDE v1.1</a></td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja-ide_1.1_all.deb">Download</a></td>
        </tr>
        <tr>
          <td>Arch</td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja-ide-1.1-1-any.pkg.tar.xz">Ninja IDE v1.1</a></td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja-ide-1.1-1-any.pkg.tar.xz">Download</a></td>
        </tr>
        <tr>
          <td>Mandriva</td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja-ide-1.1-3.noarch.rpm">Ninja IDE v1.1</a></td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja-ide-1.1-3.noarch.rpm">Download</a></td>
        </tr>
      </table>

      <h2>For Ubuntu Users:</h2>
      <div class="framed">
        <h3>You can add the <b>NINJA-IDE PPA</b> and install it from there (you will get automatic updates!)</h3>
        <code>
            sudo apt-add-repository ppa:ninja-ide-developers/daily  (Daily updates)<br>
            <b class="color_marked">or</b><br>
            sudo apt-add-repository ppa:ninja-ide-developers/ninja-ide  (Stable Releases)<br><br>
            sudo apt-get update<br>
            sudo apt-get install ninja-ide<br>
        </code>
      </div>

      <h2 class="win_downloads" id="win_downloads">Windows</h2>
      <table>
        <tr>
          <td>Windows XP, Vista, 7</td>
          <td><a href="http://ubuntuone.com/3qstPC9UfvaBdE4IvOuxDE">Ninja IDE v2.0-Beta3</a></td>
          <td><a href="http://ubuntuone.com/3qstPC9UfvaBdE4IvOuxDE">Download Installer</a>
        </tr>
        <tr>
          <td>Windows XP, Vista, 7</td>
          <td><a href="http://ubuntuone.com/4wC2GrKz01QStNy1zaCaC6">Ninja IDE v2.0-Beta3</a></td>
          <td><a href="http://ubuntuone.com/4wC2GrKz01QStNy1zaCaC6">Download Executable</a>
        </tr>
        <tr>
          <td>Windows XP, Vista, 7</td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja_installer.rar">Ninja IDE v1.1</a></td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja_installer.rar">Download Installer</a></td>
        </tr>
        <tr>
          <td>Windows XP, Vista, 7</td>
          <td><a href="http://ninja-ide.googlecode.com/files/Ninja_exe.rar">Ninja IDE v1.1</a></td>
          <td><a href="http://ninja-ide.googlecode.com/files/Ninja_exe.rar">Download Executable</a></td>
        </tr>
      </table>

      <p class="tabbed">(Made with: <a href="https://code.google.com/p/py2nsis/">Py2nsis</a>)</p>

      <h2 class="mac_downloads" id="mac_downloads">Mac OsX</h2>
      <p class="tabbed">The Mac version is finishing its training. Soon available to kick some asses!!</p>
      <!--table>
        <tr>
          <td>MAC OS X</td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja-ide-2.0-Beta.zip">Ninja IDE v2.0-Beta</a></td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja-ide-2.0-Beta.zip">Download Sources</a>
              / <a href="http://ubuntuone.com/2KGpbo9xbaYrkxtbxk0Gsv">Mirror</a></td>
        </tr>
      </table-->

      <h2 class="source_downloads" id="source_downloads">SOURCE CODE</h2>
      <table>
        <tr>
          <td>Any OS</td>
          <td><a href="https://github.com/downloads/ninja-ide/ninja-ide/ninja-ide-beta3.zip">Ninja IDE v2.0-Beta3</a></td>
          <td><a href="https://github.com/downloads/ninja-ide/ninja-ide/ninja-ide-beta3.zip">Download Sources</a>
              / <a href="http://ubuntuone.com/2KGpbo9xbaYrkxtbxk0Gsv">Mirror</a></td>
        </tr>
        <tr>
          <td>Any OS</td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja-ide_sources-1.1.zip">Ninja IDE v1.1</a></td>
          <td><a href="http://ninja-ide.googlecode.com/files/ninja-ide_sources-1.1.zip">Download Sources</a></td>
        </tr>
      </table>
      <p class="tabbed">Source Code hosted at: <a href="https://github.com/ninja-ide/ninja-ide">https://github.com/ninja-ide/ninja-ide</a></p>

      <div class="framed" id="ninja_requirements">
        <h2 class="warning">NINJA-IDE requires:</h2>
        <ul>
          <li>Python 2.7 <a href="http://http://www.python.org/getit/releases/2.7/">Get it here.</a>
          </li>
          <li>PyQt >= 4.7 (4.8 recommended). <a href="http://www.riverbankcomputing.co.uk/software/pyqt/download">Get it here.</a>
          </li>
      </div><!-- /framed -->
    </div><!-- /#downloads -->
</div><!-- /content -->
{% endblock%}
