{% extends "base.html" %}

{% load i18n static %}
{% load url from future %}

{% block bodyclass %}downloads{% endblock %}

{% block content %}
<div class="content">
  <!-- DOWNLOADS -->

    <div class="section left big-width" id="downloads">

      <h1>Ninja IDE packages</h1>

      <h2 class="linux_downloads" id="linux_downloads">Linux</h2>
      <table>
        <tr>
          <td><a href="http://ubuntuone.com/3pwaR8BxO7ey7f9FvpkyAJ">Ubuntu / Debian</a></td>
          <td><a href="http://ubuntuone.com/3pwaR8BxO7ey7f9FvpkyAJ">Ninja IDE v2.3</a>
          <td><a href="http://ubuntuone.com/3pwaR8BxO7ey7f9FvpkyAJ">Download</a>
              <!--/ <a href="http://ubuntuone.com/697dQ17I5LKP8FUztB7ZXT">Mirror</a></td>-->
        </tr>
        <tr>
          <td><a href="http://ubuntuone.com/1ZLjW7EKNIOlO5EXo2PNAC">Fedora</a></td>
          <td><a href="http://ubuntuone.com/1ZLjW7EKNIOlO5EXo2PNAC">Ninja IDE v2.3</a>
          <td><a href="http://ubuntuone.com/1ZLjW7EKNIOlO5EXo2PNAC">Download</a>
              <!--/ <a href="http://ubuntuone.com/697dQ17I5LKP8FUztB7ZXT">Mirror</a></td>-->
        </tr>
      </table>

      <h3>*{% trans "For Ubuntu Users" %}:</h3>
      <p>
        {% blocktrans %}
        You can add the <b>NINJA-IDE PPA</b> and install it from there, and you will get automatic updates!
        {% endblocktrans %}
      </p>

      <div class="framed">
        <code>
          sudo apt-add-repository ppa:ninja-ide-developers/ninja-ide-stable (Stable updates)<br>
          (OR)<br>
          sudo apt-add-repository ppa:ninja-ide-developers/daily  (Daily updates)<br><br>
          sudo apt-get update<br>
          sudo apt-get install ninja-ide<br>
        </code>
      </div>

      <h2>{% trans "For Arch Users" %}:</h2>
      <div class="framed">
        <code>
          pacman -S ninja-ide
        </code>
      </div>

      <h2 class="win_downloads" id="win_downloads">Windows</h2>
      <table>
        <tr>
          <td><a href="http://ubuntuone.com/417RN9JeXpobD1nT9SeSmk">Windows XP, Vista, 7</a></td>
          <td><a href="http://ubuntuone.com/417RN9JeXpobD1nT9SeSmk">Ninja IDE v2.3</a></td>
          <td><a href="http://ubuntuone.com/417RN9JeXpobD1nT9SeSmk">Download Installer</a>
              <!--/ <a href="http://ubuntuone.com/697dQ17I5LKP8FUztB7ZXT">Mirror</a></td>-->
        </tr>
        <tr>
      </table>

      <p class="tabbed">(Made with: <a href="https://code.google.com/p/py2nsis/">Py2nsis</a>)</p>

      <h2 class="mac_downloads" id="mac_downloads">Mac OsX</h2>
      <table>
        <tr>
          <td><a href="https://github.com/ninja-ide/ninja-ide/archive/v2.2.zip">MAC OS X (Not available)</a></td>
          <td><a href="https://github.com/ninja-ide/ninja-ide/archive/v2.2.zip">Only source download</a></td>
          <td><a href="https://github.com/ninja-ide/ninja-ide/archive/v2.2.zip">Source Code</a></td>
        </tr>
      </table>

      <h2 class="source_downloads" id="source_downloads">SOURCE CODE (Any OS)</h2>
      <table>
        <tr>
          <td><a href="https://github.com/ninja-ide/ninja-ide/archive/v2.2.zip">Version 2.2</a></td>
          <td><a href="https://github.com/ninja-ide/ninja-ide/archive/v2.2.zip">Ninja IDE v2.2</a></td>
          <td><a href="https://github.com/ninja-ide/ninja-ide/archive/v2.2.zip">Download Sources</a></td>
        </tr>
        <tr>
          <td><a href="https://github.com/ninja-ide/ninja-ide/zipball/master">Latest Version (under Development)</a></td>
          <td><a href="https://github.com/ninja-ide/ninja-ide/zipball/master">Ninja IDE (last version from repository)</a></td>
          <td><a href="https://github.com/ninja-ide/ninja-ide/zipball/master">Download Sources</a></td>
        </tr>
      </table>
      <p class="tabbed">Source Code hosted at: <a href="https://github.com/ninja-ide/ninja-ide">https://github.com/ninja-ide/ninja-ide</a></p>
    </div><!-- /#downloads big-width -->

    <div class="section small-width right" id="ninja_requirements">
      <h1>Requirements</h1>
      <p>In order to have a kickass Ninja-IDE instance you better assure of having all these weapons:</p>

      <table class="styled-table">
        <tr>
          <td>Python 2.7</td>
          <td><a href="http://www.python.org/getit/releases/2.7/">Get it here.</a></td>
        </tr>
        <tr>
          <td>PyQt >= 4.7 (4.8 recommended).</td>
          <td><a href="http://www.riverbankcomputing.co.uk/software/pyqt/download">Get it here.</a></td>
        </tr>
      </table>
    </div>

    <div class="section right small-width" id="more_downloads">
      <h1>More Downloads</h1>
      <h2><a href="{% url 'plugins' %}">Ninja Plugins</a></h2>
      <h2><a href="{% url 'schemes' %}">Ninja Schemes</a></h2>
    </div>
</div><!-- /content -->
{% endblock%}
