{% extends "base.html" %}

{% load i18n %}

{% block content %}

        <!-- LOGIN -->
        <div class="section" id="intro">
          <h1>Do you already have an account?</h1>
          <p>Fill out the fields below to login.</p>
        
        </div>

        <!-- FEATURES -->
        <div class="section" id="features">
          <h1>Features</h1>
          <ul>
            <li id="code_editor">
                <h3>Powerfull Code Editor</h3>
                <img src="/media/img/feature-code_editor.png" alt="Code Editor" />
                <p>NINJA-IDE provides a complete code editor with highlighting for several languages, code completion, code assistant for: imports, navigation, etc. Also it is possible to extend the editor functionality using plugins.
                <a href="/features#code_editor">Learn More</a>
                </p>
            </li>
            <li id="display_manager">
                <h3>Display Manager</h3>
                <img src="/media/img/feature-plugins.png" alt="Display Manager" />
                <p>Provides support to use an embedded Python Console into the IDE, and load several plugin's widgets for multi-purposes.
                <a href="/features#code_editor">Learn More</a>
                </p>
            </li>

            <li id="projects" class="last-of-row">
                <h3>Project Managment</h3>
                <img src="/media/img/feature-projects.png" alt="Feature Projects" />
                <p>INJA-IDE allows to manage Python projects automatically, saving descriptive information about them and letting the user perform file managment related task in the IDE itself.
                <a href="/features#code_editor">Learn More</a>
                </p>
            </li>
            <li id="run">
                <h3>Run Projects and Files</h3>
                <img src="/media/img/feature-run.png" alt="Run" />
                <p>With NINJA-IDE it is possible to run Python projects or any file opened in the Editor with just one click. It is also possible to render an HTML file loaded in the Editor in the IDE to see how the changes would look like in a browser.
                <a href="/features#code_editor">Learn More</a>
                </p>
            </li>
            <li id="integrate">
                <h3>Highly extensible</h3>
                <img src="/media/img/feature-integrate.png" alt="Integrate" />
                <p>You can create a plugin for several purposes and it can be integrated completely with the IDE, increasing the available functionality to improve assistance for project development.
                <a href="/features#code_editor">Learn More</a>
                </p>
            </li>
          </ul>
        </div><!-- /#features -->
{% endblock%}
