{% load static %}

<ul id="ninja_members">
  <li>
    <img src="{% static 'common/img/ninja_members/dl.sarmentero.png' %}" alt="Diego Sarmentero" />
    <h2>Diego Sarmentero <span class="irc-nick">#gatox</span></h2>
    <p>Software Freedom Lover, enjoy programming in several languages, and share all the things I've learn with the community. Qt Ambassador since 2011, Computer Geek by nature... Human Being??.</p>
    <div class="contact-info">
      <a class="mail" href="mailto:diego.sarmentero@ninja-ide.org">diego.sarmentero@ninja-ide.org</a>
    </div>
  </li>
  <li>
    <img src="{% static 'common/img/ninja_members/malderete.png' %}" alt="Martín Alderete" />
    <h2>Martín Alderete <span class="irc-nick">#malderete</span></h2>
    <p>Software developer, open source software fan. I really like to programming in different languages. I met Python in 2005 and I felt in love, since then it is my main language. I also like practicing martial arts and sports.</p>
    <div class="contact-info">
      <a class="mail" href="mailto:malderete@ninja-ide.org">malderete@ninja-ide.org</a>
    </div>
  </li>
  <li>
    <img src="{% static 'common/img/ninja_members/perrito.png' %}" alt="Jose Cortes" />
    <h2>Horacio Durán <span class="irc-nick">#perrito666</span></h2>
    <p>I use ninja even for the grocery list, python fanboy by nature, floss supporter for life and machinalico until death.</p>
    <div class="contact-info">
      <a class="mail" href="mailto:josecortes@ninja-ide.org">perrito@ninja-ide.org</a>
    </div>
  </li>
  <li>
    <img src="{% static 'common/img/ninja_members/m.herranz.png' %}" alt="Matías Herranz" />
    <h2>Matías Herranz <span class="irc-nick">#scoobygalletas</span></h2>
    <p>Computer Science student, Django/Python, Python and mobile apps(iPhone, Android) Software developer. I like guitar playing, bonsais, hanging around with friends and travelling.</p>
    <div class="contact-info">
      <a class="mail" href="mailto:matias@ninja-ide.org">matias@ninja-ide.org</a>
    </div>
  </li>
  <li>
    <img src="{% static 'common/img/ninja_members/pmourelle.png' %}" alt="Pedro Mourelle" />
    <h2>Pedro Mourelle <span class="irc-nick">#pmourelle</span></h2>
    <p>Logo and Website designer. Running his own empire at <a href="http://pmdesign.com.ar" target="_blank">PmDesign</a>, a tough Computer Analist that discovered the dark arts of design weapons. His alchemy assembles design and django in ways you could not even imagine. You better watch out.</p>
    <div class="contact-info">
      <a class="mail" href="pedro@ninja-ide.org">pedro@ninja-ide.org</a>
    </div>
  </li>
</ul>
