[
    {
        "name": "pluginProject",
        "description": "This NINJA Plugin allows to create Plugins for NINJA... Wow Recursive!",
        "version": "0.1",
        "download": "https://plugins.ninja-ide.googlecode.com/hg/plugins/dist/pluginProject.zip",
        "home": "http://ninja-ide.org",
        "authors": "Martin Alderete <malderete@ninja-ide.org>"
    },
    {
        "name": "task",
        "description": "Organize your task(s)",
        "version": "0.2",
        "download": "https://plugins.ninja-ide.googlecode.com/hg/plugins/dist/task_list.zip",
        "home": "http://ninja-ide.org",
        "authors": "Martin Alderete <malderete@ninja-ide.org>"
    }
]
