{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}plugins{% endblock %}

{% block content %}
  <div class="content">
    <!-- PLUGINS -->
    <div class="section left big-width" id="plugins">
      <h1>Plugins Contest !</h1>
      <div class="sub-section-plugins">
          <p>The aim of this contest is to encourage the users of <b>NINJA-IDE</b> to
          write some plugins to <b>help us improving</b> the support of NINJA-IDE and
          get a <b>prize</b> as a recognition of their contribution.<br />
          You can submit your own plugins and vote for them or any other in
          this website starting at October
          <span class="nope">22nd</span>
          <span class="nope">23rd</span>
          24th.</p>
      </div>

      <div class="sub-section-plugins">
          <h3>Important Dates</h3>
          <p><b>Start Date:</b> October 22nd. <span class="color_marked small">Using extra ninja powers to start as soon as posible.</span><br />
          <b>End Date:</b> December 22nd. (This day we will announce the winners)</p>
      </div>

      <div class="sub-section-plugins">
          <h3>How to participate</h3>
          <ol>
            <li>Sign up in NINJA-IDE's site.</li>
            <li>Submit your plugin (you can submit as many as you want, but only
            the one with the highest score will participate in the contest).</li>
          </ol>
          <p>Checkout aut the wiki <a href="http://code.google.com/p/ninja-ide/wiki/Plugins_Tutorial">"Learn how to write a plugin"</a>.</p>
      </div>

      <div class="sub-section-plugins">
          <h3>Prizes</h3>
          <p>The first, second and third plugin with the highest scores will
          receive the following prizes. Ca-ching!!</p>
          <ol class="list-prizes">
              <li>u$s 250</li>
              <li>u$s 150</li>
              <li>u$s 100</li>
          </ol>
          <p>The delivery of the prize will be arranged with each winner.<br />
          Every user can win just one prize.<br />
          NINJA-IDE commiters are not able to participate in this contest.</p>
      </div>

      <div class="sub-section-plugins">
          <h3>How the winner will be chosen</h3>
          <p>The three first plugins with the higher score will be announced
          as the winners.<br />
          In case of a tie in any of the categories, the period to vote will
          be extended 2 more weeks just for the plugins under that situation.<br>
          If another tie is produced after the additional 2 weeks, the
          NINJA-IDE commiters will emit a vote for each plugins in order to
          resolve this situation.</p>
      </div>
      <div class="sub-section-plugins">
          <h3>How the scores are determine</h3>
          <p>Each plugin can receive a score from 1 to 5 for any user registered in the site.<br />
          The score of each plugin could be checked at any time through this website,
          and the score will be the average of the votes received until that moment.</p>
      </div>
      <h2>- Ninja IDE Senseis-</h2>
    </div><!-- /#plugins -->

    <div class="section right small-width">
      <h1>Keep moving ninja</h1>
      <p>Take a look at the plugins or submit your own.</p>
      <a class="link-web" href="{% url plugins %}">Plugins</a>
    </div>

    <div class="section right small-width" id="didyouknow">
      <h1>Did you know ...?</h1>
      <ul>
        <li>... we made <b>Ninja IDE</b> absolutely free.</li>
        <li>... we charge no money for doing this job.</li>
        <li>... we were bitten by a radioactive ninja, and that's how we became programmers.</li>
        <li>... Bruce Lee was inspired by our IDE at the moment he chosen his vocation.</li>
        <li>... You can donate some money for nunchakus following <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8TESZPNRD59H6">this link</a>.</li>
        <li>... you can try to avoid Chuck Norris kicking your ass following <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8TESZPNRD59H6">this link</a>.</li>
        <li>... you can assure an absolutely free copy of ninja-IDE by following <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8TESZPNRD59H6">this link</a>.</li>
      </ul>
    </div>
  </div><!-- /content -->
{% endblock %}
