{% extends "base.html" %}

{% load i18n show_stars %}

{% block scripts %}
{{ block.super }}

<script src="/media/js/prototype.js"></script>
{% show_stars_script %}

<script>

  function rate_plugin(id, pos) {
    //ajax goes here, update item id with stars == pos.
    var post_url = "{% url rate-plugin %}?plugin_id=" + id + "&rate=" + pos;
    elem = jQuery("#plugin_"+id);

    if (elem) {
      var container = elem.find(".rate-container");

      {% if not user.is_authenticated %}
      alert("You have to be registered to vote!");

      {% else %}

      jQuery.ajax({
        url: post_url,
        dataType: 'json',
        success: function(data) {
          /* send the rate & update the rate of this plugin */
          var json = eval('('+data+')');
          if (json.ok) {
            alert("Thanks for your vote!");
            container.find('.plugin-rate')
            .fadeOut()
            .html(json.plugin_rate)
            .fadeIn();

            container
            .find('.plugin-rate-times')
            .fadeOut()
            .html(json.plugin_rate_times)
            .fadeIn();

          } else {
            alert("Error rating the plugin: " + json.error);
          }
        }
      });
      {% endif %}
    }
  }

</script>

{% endblock %}


{% block bodyclass %}plugins{% endblock %}


{% block content %}
  <div class="content">
    <!-- PLUGINS -->
    <div class="section left big-width" id="plugins">
      <h1>Ninja Plugins</h1>
      <h2>Showing <span class="color_marked">{{ plugins_category.name|default:"All" }}</span> plugins</h2>
      <p>Click on the ninja stars to give the plugins the appretiation you think they diserve.</p>

      <ul id="plugins-list" class="item-list">

        {% for p in plugins %}
        <li class="item" id="plugin_{{ p.id }}">
          
          <div class="item-header">

            <div class="options">
              <div class="rate-container">

                <div class="rate-wrapper">
                  <span class="plugin-rate">{{ p.rate }}</span>
                  <span class="plugin-rate-times"> ({{ p.rate_times }})</span>
                </div><!-- /rate-wrapper -->

                {% show_stars p.rate of 5 round to quarter on change call rate_plugin with p.id %}

              </div><!-- /rate-container -->
            </div><!-- /options -->

            <h3><a href="{{ p.absolute_url }}">{{ p.name }}</a></h3>
            <h4>{{ p.user.username }} 'san'</h4>
          </div><!-- /item-header -->

          <div class="extract">
            <p>{{ p.short_description }}</p>
          </div>

          <div class="item-tags">
          {% for tag in p.get_tags %}
            <a href="{% url tags tag.id %}" alt="{{ tag }}" title="{{ tag }}">{{ tag }}</a>
          {% empty %}
            <a href="#">It has no tags, can believe it?</a>
          {% endfor %}
          </div>

        </li>

        {% empty %}
        <li class="item">
          <p>There're no plugins submitted yet. <a href="{% url plugin-submit %}">Be the first one!!</a></p>
        </li>
        {% endfor %}

      </ul>
    </div>

    <div class="section right small-width" id="submit-banner">
      <h1>Plugins contest</h1>
      <p>Submit your plugin or vote for existing ones. You can do it until december 22nd.</p>
      <a class="link-web" href="{% url plugins-contest %}">All the info</a>
      <a class="link-web" href="{% url plugin-submit %}">Submit your plugin!</a>
    </div>


    <div class="section right small-width" id="plugins-sidebar">
      {% include "contest-rules.html" %}
    </div>

  </div><!-- /content -->
{% endblock %}
