{
    "scoobygalletas1": "http://plugins.ninja-ide.googlecode.com/hg/schemes/scoobygalletas1.color",
    "darker_scheme": "http://plugins.ninja-ide.googlecode.com/hg/schemes/darker_scheme.color",
    "darker_relax_scheme": "http://plugins.ninja-ide.googlecode.com/hg/schemes/darker_relax_scheme.color",
    "coder": "http://plugins.ninja-ide.googlecode.com/hg/schemes/coder.color",
    "gedit_like": "http://plugins.ninja-ide.googlecode.com/hg/schemes/gedit_like.color",
    "buntu_new": "http://plugins.ninja-ide.googlecode.com/hg/schemes/buntu_new.color",
    "green_pace": "http://plugins.ninja-ide.googlecode.com/hg/schemes/green_pace.color",
    "gugle": "http://plugins.ninja-ide.googlecode.com/hg/schemes/gugle.color",
    "mac_aco": "http://plugins.ninja-ide.googlecode.com/hg/schemes/mac_aco.color",
    "matrix": "http://plugins.ninja-ide.googlecode.com/hg/schemes/matrix.color",
    "mono_cromatico": "http://plugins.ninja-ide.googlecode.com/hg/schemes/mono_cromatico.color",
    "ninja-hide-style": "http://plugins.ninja-ide.googlecode.com/hg/schemes/ninja-hide-style.color"
}
