{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}using{% endblock %}

{% block content %}
    <div class="content">
        <!-- WHO IS USING -->
        <div class="section" id="using">
          <h1>Who is using Ninja-IDE ?</h1>

          <h2>Take a look at how many cool people are kicking asses at ninja-style.</h2>

          <p>You think you must be on this list? <br />Well, <a href="mailto:dojo@ninja-ide.org">tell us</a> and we'll maybe consider it. Or maybe not. Although we'll probably do it. Or not. Are you feeling <a href="mailto:dojo@ninja-ide.org">lucky</a>?</p>

          <ul id="using_ninjas">

            <li>
              <img src="../media/img/using/machinalis.png" alt="machinalis_logo" />
              <h2>Machinalis</h2>
              <p>Awesome ninjas.</p>
              <a class="link-web" href="http://www.machinalis.com">machinalis</a>
            </li>

            <li>
              <img src="../media/img/using/famaf.png" alt="famaf_logo" />
              <h2>FaMAF</h2>
              <p>Awesome school of ninjas.</p>
              <a class="link-web" href="http://www.famaf.unc.edu.ar">FaMAF</a>
            </li>

            <li>
              <img src="../media/img/using/iespiramide.png" alt="iespiramide_logo" />
              <h2>IES Pirámide</h2>
              <p>Awesome spanish school of ninjas.</p>
              <a class="link-web" href="http://www.iespiramide.org/web/indice.asp">IES Pirámide</a>
            </li>

            <li class="last-of-row">
              <img src="../media/img/using/dot3.png" alt="dot3_logo" />
              <h2>Dot3</h2>
              <p>Awesome dotted ninjas.</p>
              <a class="link-web" href="http://www.dot3.com.ar">Dot3</a>
            </li>

            <li>
              <img src="../media/img/using/airtrack.png" alt="airtrack_logo" />
              <h2>Airtrack</h2>
              <p>Awesome satellite ninjas.</p>
              <a class="link-web" href="http://www.airtrack.com.ar">Airtrack</a>
            </li>

            <li>
              <img src="../media/img/using/ninja-ide.png" alt="ninja-ide_logo" />
              <h2>Ninja IDE</h2>
              <p>This is so obvious that hurt. For real.</p>
              <a class="link-web" href="http://www.ninja-ide.org">Ninja IDE</a>
            </li>
            
          </ul>

        </div><!-- /#aboutus -->
      </div><!-- /.content -->

{% endblock%}
