{% extends "registration/registration_base.html" %}

{% block title %}Confirm password reset{% endblock %}

{% block body %}
<h1>Resetting password</h1>
<h2>So, your ninja skills are getting weak... reinforce them starting with a good and powerfull password</h2>

<p>Enter your new password below to reset your password:</p>

<form method="post" action="">
{% csrf_token %}
<table class="styled-table">
    {{ form.as_table }}
    <tr>
    	<td colspan="2">
    		<input type="submit" value="Set password" />
    	</td>
    </tr>
</table>
</form>
{% endblock %}
