{% extends "registration/registration_base.html" %}

{% block title %}Change password{% endblock %}

{% block bodyclass %}change-password{% endblock %}

{% block body %}
<h1>So you think we aren't secure enough with your password.</h1>
<h2>Ok, change it then. What are you specting to?</h2>

<form method='post' action=''>
{% csrf_token %}
<table class="styled-table">
    {{ form }}
    <tr>
    	<td colspan="2">
    		<input type='submit' value="Change password" />
    	</td>
    </tr>
</table>
</form>
{% endblock %}
