{% extends "registration/registration_base.html" %}

{% block title %}Reset password{% endblock %}

{% block bodyclass %}password-reset-form{% endblock %}

{% block body %}
	<h1>You forgot your password... are you sure you are a ninja?</h1>
	<h2>Enter your email in the form below and we'll send you
instructions for creating a new one.</h2>
	<p>A bambu leaf must be burned to generate a new password. If pandas then starve to death, what will we gonna eat?? Lost passwords? I don't think so! Try to not "forget" it again, you punk.</p>

	<form method='post' action=''>
	{% csrf_token %}
	<table class="styled-table">
	    {{ form.hidden }}
	    <tr>
	    	<th>E-mail</th>
	    	<td>{{ form.email }}</td>
	    </tr>
	    <tr>
	    	<td colspan="2">
	    		<input type='submit' value="Reset password" />
	    	</td>
	    </tr>
	</table>
	</form>
{% endblock %}
