# Python version required and assumed: 2.7
# You can create the virtualenv this way:
#    $ virtualenv -p python2.5  ~/Dev/NinjaIDE/WebNinja/EnvWeb

django==1.4

PIL==1.1.7
# http://hg.effbot.org/pil-2009-raclette/changeset/fb7ce579f5f9
#https://bitbucket.org/ubernostrum/django-registration/downloads/django-registration-0.8-alpha-1.tar.gz

#3rd party
django-profiles==0.2
django-pagination==1.0.7

# Dev stuff:
django-extensions==1.0.1
ipython==0.11
ipdb==0.6.1
readline==6.2.1
django-debug-toolbar==0.8.5
South==0.7.6

# blog and other stuff
-e git+http://github.com/nathanborror/django-basic-apps.git#egg=django-basic-apps-nathanborror

argparse==1.2.1
sorl-thumbnail==11.12
wsgiref==0.1.2
