{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block maintab %}{% endblock %}

{% block content %}
<h2>{% trans "Your password has been changed" %}.</h2>

<p>{% trans "Xaxi!!! From now on you can use your new password to signin at <a href='http://lookremix.com'>LookRemix.com</a>" %}.</p>

<h2>{% trans "Do you follow us elsewhere?" %}</h2>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style" addthis:title="LookRemix" addthis:description="{% trans "Fun way to share fashion content." %}">
  <a class="addthis_button_facebook_like" addthis:url="http://facebook.com/lookremix"  ></a>
  <a class="addthis_button_twitter_follow_native" tw:screen_name="lookremix" addthis:url="http://lookremix.com" ></a>
  <a class="addthis_button_google_plusone" addthis:url="http://lookremix.com" ></a>
</div>

<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e60e7fa03e45b94"></script>
<!-- AddThis Button END-->
{% endblock %}
