{% extends "base.html" %}

{% block title %}{{ profile.user.username }}'s profile{% endblock %}

{% block content %}

{% if profile %}
<div class="content">
  <h1>{{ profile.name|default:"My Profile" }}</h1>
  <p>This page isn't complete yet because you're just too awesome <b>{{profile.name}}</b>.</p>
  <p>Give us a little more time and we'll finish it completely. That's the problem of an ad-honorem job.</p>
</div><!-- /.content -->

{% else %}
<div class="warning">
  <p>Sorry. Without a profile -and a soul- you can't see this page. Try in your next reencarnation, or within the next minutes.</p>
</div>
{% endif %}

{% endblock %}
