{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block maintab %}{% endblock %}

{% block content %}

  <div class="block left">
    <h2>{% trans "Login with your Lookremix account" %}</h2>
    <form class="sign" action="" method="post" class="wide left">
      <fieldset>
        {% csrf_token %}

        {{ form.as_p }}

        <p class="forgot-password">
          <a href="{% url userena_password_reset %}" title="{% trans "Forgot your password?" %}">{% trans "Forgot your password?" %}</a>
        </p>

        <br />
        <input type="submit" />
      </fieldset>
    </form>
  </div>

  <div class="block right social_login">
    <h2>{% trans "Or Login using..." %}</h2>

    <a href="{% url socialauth_begin "facebook" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
      <img src="{{ STATIC_URL }}img/facebook_icon.png" />
    </a>
    <a href="{% url socialauth_begin "twitter" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
        <img src="{{ STATIC_URL }}img/twitter_icon.png" />
    </a>
    <a href="{% url socialauth_begin "tumblr" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
        <img src="{{ STATIC_URL }}img/tumblr_icon.png" />
    </a>
  </div>

  <div class="block right request_invitation">
    <h2>{% trans "I don't have a LookRemix account!" %}</h2>
    <p><a href="{% url invitation_request %}">{% trans "Request an invitation now!" %}</a></p>
  </div>
{% endblock content %}
