{% extends "pages/page.html" %}

{% block body_id %}samurais{% endblock %}

{% block main %}
<h2>The samurais that make Ninja-IDE so awesome</h2>

<ul class="ninja-team">
{% for guy in page.teampage.team_members.all %}
    <li class="thumbnail">
        <img src="{{ guy.avatar }}" alt="" class="ninja_avatar pull-left img-thumbnail">
        <div class="caption">
            <h3>{{ guy.name }} <span class="small">({{ guy.irc_nickname }} on #ninja-ide)</span></h3>
            <p>{{ guy.detail }}</p>
            <p>{{ guy.email }}</p>
            <p><a href="http://twitter/{{ guy.twitter }}" target="_blank">{{ guy.twitter }}</a></p>
        </div><!-- /.caption -->
    </li>
{% endfor %}
</ul>
{% endblock main %}
