@import "variables.less";
@import "mixins.less";
@import "../../less/elements.less";


body {
    background: url("/static/img/bg-dark_grain.png") #333;
}

.navbar {
    .box-shadow(0 5px 15px rgba(0, 0, 0, .4));
}

.navbar-brand {
    background-color: @gray-lighter;
    padding: 2px 0;
    width: 240px;

    img {
        width: 100%;
    }

    span {
        display: none;
    }
}

.user-nav {
    @media (min-width: @screen-sm-min) {
        float: right;
    }
}

.footer {
    background: #ff0000;
    margin-top: 20px;
    padding: 10px 0;
    bottom: 0;
    position: relative;
    width: 100%;

    p {
        margin: 0;
    }
}


#contact_page {
    label {
        width: 150px;
    }

    p.help-block {
        display: none;
    }

    input, textarea {
        border: 0;
        width: 500px;
        .rounded(5px);

        &[type="text"] {
            padding: 0 5px;
        }

        &[type="submit"] {
            margin-left: 154px;
        }
    }
}

#samurais {
    .thumbnail {
        background: rgba(0, 0, 0, .2);
        border: 0;
        overflow: hidden;
        margin-bottom: 2em;
        padding: 1.2em;

        .img-thumbnail {
            margin: .5em .5em 0 0;
        }
        .caption {
            float: left;
            font-size: 80%;

            h3 {
                margin-top: 0;
            }

            p {
                margin-bottom: .2em;
            }
        }
    }
}

.ninja-team {
    list-style: none;
    padding: 0;

    li {
        .rounded(10px);
        margin: 0 0 10px;
    }

    img {
        background: @gray-light;
        height: 140px;
        width: 140px;
    }
}


table {
    background: rgba(255, 255, 255, .08);
    border-collapse: separate;
    border-spacing: 0;
    border-color: #555 #333 #202020;
    margin: 1em auto;
    .drop-shadow(0, 5px, 15px, .5);
    .rounded(8px);

    tr {
        border: 0;

        &:first-child {
            th, td {
                border-top: 0;
            }
        }

        &:last-child {
            th, td {
                border-bottom: 0;
            }
        }

        &:hover{
            background: rgba(255, 255, 255, .04);
        }

        th, td {
            border-bottom: 1px solid #191919;
            border-top: 1px solid #555;
            padding: .5em .8em !important;
            vertical-align: middle;
            //width: 195px;

            &:first-child {
              //min-width: 140px;
            }

            &:last-child {
            }

            a {
                &:hover {
                    border-bottom: 1px dotted;
                }
            }
        }
    }
}

#splash {
  background: url("/static/img/full_logo_text.png") no-repeat center 10% transparent;
  background-size: 100% auto;
  height: 365px;
  margin-bottom: 150px;
  padding-bottom: 10px;
  width: 100%;

  #splash-wrap {
    height: 100%;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
    //width: @page-width;

    h1 {
      .opacity(0);

      span {
        font-size: 3.2em;
        color: #888;
      }
    }
  }

  #download-latest-box {
    bottom: 0;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 400px;
    z-index: 10;
    .drop-shadow(0, 1px, 8px, 0.9);

    img {
      display: block;
      float: left;
      padding: 3px 10px 3px 5px;
      height: 32px;
      position: relative;
      top: -3px;
      width: 32px;
      .transition(1s);
    }

    h2 {
      font-size: 1.1em;
      line-height: 2.2em;
      margin: 0 0 3px;
      text-shadow: 0px 1px 0px #fff;
    }

    a {
      border-left: 1px solid #fff;
      color: inherit;
      float: right;
      line-height: 18px;
      padding-left: 20px;
      text-decoration: none;
      width: 310px;

      &.main-link {
        color: #fff;
        padding-bottom: 10px;
      }

      &.sec-link {
        font-size: .8em;
        text-align: right;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    small {
      display: block;
      float: right;
      position: absolute;
      right: 10px;
      top: -21px;
    }

    &:hover {
      img {
        top: 20px;
      }
    }

    /* general config for download button */
    .box-download() {
      padding: 20px;
      .rounded(8px);
    }

    &.metal-box {
      .box-download;
      color: #000;
      .color-gradient(#ccc);
      border: 1px solid #777;
    }

    &.redninja-box {
      .box-download;
      color: #fff;
      .color-gradient(#d00);

      a {
        .coloured-shadow(0px, 0px, 2px, rgba(0, 0, 0, .9));
      }
    }
  }
}

hr {
    border-color: @gray-dark;
    .box-shadow(0 0 15px rgba(0,0,0,.3));
}

a.btn {
  &.share-twitter {
    background-color: #00aced;
    color: @white;
  }

  &.share-facebook {
    background-color: #3b5998;
    color: @white;
  }

  & +.btn {
    @media (min-width: @screen-sm-min) {
      margin-left: 1em;
    }
  }
}
